/* Demo CSS - You do not need this css in your own slider */

body{
	font-family: "Open Sans", helvetica, arial;
}

pre{
	font-family: "Source Code Pro", monospace;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: whiteSmoke;
	border: 1px solid #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

h2{
	font-size: 48px;
}

pre + h2{
	margin-top: 80px;
}

#container{
	max-width:820px;
	margin:0 auto;
	padding-bottom:80px;
}

#banner-fade,
#banner-slide{
	margin-bottom: 0px;
	max-width: 70%!important;
    height: 400px !important;
    display: block;
    margin: auto;
}

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:15px;
	color:#000;
	text-decoration: none;
}


ol.bjqs-markers li a{
	padding:5px 10px;
	background:#000;
	color:#fff;
	margin:5px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}

/* Basic jQuery Slider essential styles */
/*------------------------bg css---------------------------------------*/
ul.bjqs{
	position:relative;
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden; 
	display:none;
	height: 100% !important;
	}
li.bjqs-slide{
	height: 100% !important;
	position:absolute;
	display:none;
	}
ul.bjqs-controls{
	list-style:none;
	margin:0;
	padding:0;
	z-index:9999;
	}
ul.bjqs-controls.v-centered li a{
	position:absolute;
	}
ul.bjqs-controls.v-centered li.bjqs-next a{
	right:20px; 
	top: 50% !important;
	background:url(../images/slide_arrow_r.png) left center no-repeat;
	background-size: cover;
	}
ul.bjqs-controls.v-centered li.bjqs-prev a{
	left:20px; 
	top: 50% !important;
	background:url(../images/slide_arrow_l.png) right center no-repeat;
	background-size: cover;
	}
ol.bjqs-markers{
	list-style: none; 
	padding: 0; 
	margin: 0; 
	width:100%;
	}
ol.bjqs-markers.h-centered{
	text-align: center; 
	display:none;
	}
ol.bjqs-markers li{
	display:inline;
	}
ol.bjqs-markers li a{
	display:inline-block;
	}
p.bjqs-caption{
	display:block;
	width:96%;
	margin:0;
	padding:2%;
	position:absolute;
	bottom:0;
	}
/*------------------------bg css end---------------------------------------*/